@media (max-width: 639px) {
    #help iframe {
        height: calc(100dvh - 60px);
        margin: 55px auto;
        width: 100%;
    }
    #close_iframe {
        right: 20px;
        top: 60px;
    }
}


#help {
        position: absolute;     /* help relative to body or nearest positioned parent */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: block;
        background: rgba(0,0,0,0.5); /* optional semi-transparent background */
    }

    #help iframe {
        width: 100%;
        height: calc(100dvh - 45px);
        margin: 40px auto;
        display: block;
        border: none;
        border-radius: 0;   /* rounded corners */
        /* box-shadow: 0 8px 24px rgba(0,0,0,0.4); */
    }

    #help_iframe body {
        background: rgba(0,0,0,0.5);
    }

    #close_iframe {
        position: absolute;
        top: 50px;
        right: 10%;
        background: #000000;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 30px;
        border-radius: 3px;
        z-index: 10000;
    }

    #close_iframe:hover {
        background: #898989;
}